.background-image-holder {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 20;
   left: 20;
   //z-index: 1;
   //background: #292929;
   background-size: cover !important;
   background-position: 50% 50% !important;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   //opacity: 0;
   opacity: 1;
   z-index: -1;
 }
 .background-image-holder img {
   width: 600px;
   height: 851px;
 }
 .cover-image-holder img {
   width: 600px;
   height: 851px;
 }

.cover-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20;
  left: 20;
  z-index: 99;
  //background: #292929;
  background-size: cover !important;
  background-position: 50% 50% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  //opacity: 0;
  opacity: 1;
  pointer-events: none;
}
