.PhotoBoard .animate {
  transition: all 0.3s;
}

.PhotoBoard .background-image-holder img {
  widht: 300px;
  height: 426px;
}
.PhotoBoard .cover-image-holder img {
  widht: 300px;
  height: 426px;
}